
*{
    box-sizing: border-box;
    color: white;
}
body{
	background-color: #F2F2F2; 
}

.textColorWhite{color : #ffffff; }  
.texcolorGray{color : #F2F2F2;}

.textColorBoldWhite{
color : #ffffff; 
font: bold;
}

.textColorBoldGray{
color : #F2F2F2; 
font: bold;
}

.mbanner{
        padding: 12em 0 10em 0 ;
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../img/principal.png");
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../img/principal.png");
        background-image: -ms-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../img/principal.png");
        background-image: linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../img/principal.png");
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
}

header {
    background-color: white;
    padding: 5px 15px;
    position: sticky !important;
    z-index: 1;
    left: 0;
    top: 0;
}

header img{
    height: 89px;
    margin-right: 20px;
}

#btn-social{
    width: 46px;
    position: fixed;
    right: 110px;
    top: 50%;
    cursor: pointer;
    z-index: 100;
}
#btn-social ul li{
            list-style: none;

}
#btn-social  :first-child{
    border-radius: 0 16px 0 0;
}
#btn-social  :last-child{
    border-radius: 0 0 16px 0;
}
#btn-social > *{
    height: 40px;
    font-size: 30px;
    transition: transform 0.2s ease-in-out;
}
.btn-social > *:hover{
    transform: scale(0.9);
}


.background_gray{
	background-color: #B5B5B5;
}
.background_black{
    background-color: #000000;
}
.background_orange{
    background-color: #b64225;
}

.ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left; }
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}

.color{
	color: #ffffff;
}


html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}


.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

.btn-rounded {
    border-radius: 35px;
}

.btns{
        margin-top: 40px;   
        bottom: 40px;
        background: #fff;
    }

    .btn-green-moon {
    margin-right: 120px;
    background: #fff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #fff);  /* Chrome 10-25, Safari 5.1-6 */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

    @media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }
.carousel-multi-item-2 .card img {
border-radius: 2px; }

.d-contents{ display: contents; }
.fx-betwen{ display: flex; align-items: center; justify-content: space-between; }
.fx-around{ display: flex; align-items: center; justify-content: space-around; }
.fx-center{ display: flex; align-items: center; justify-content: center; }
.fx-wrap{ flex-wrap: wrap; }


.simpleMargin{  margin: 20px;}

.loader-container{
    position: relative;
    width: 60px;
    height: 60px;
    margin: 10px
}

.loader-container .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: solid 4px transparent;
    border-top-color: #0dac77;
    border-left-color: #0dac77;
    border-radius: 50%;
    animation: loader 1.4s linear infinite;
}

.loader-container .loader2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    border: solid 4px transparent;
    border-top-color: #283fc3;
    border-left-color: #283fc3;
    border-radius: 50%;
    animation: loadersecond 1.2s linear infinite;
}

@keyframes loader{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes loadersecond{
    0%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
}